p {
  color: red;
  text-align: center;
  border: 2px solid black;
}

div {
  color: blue;
}

a {
  color: purple;
}

#para1 {
  color: green;
}

/* This is my comment */
/* My class text is on right side of the screen*/
.myclass {
  color: white;
  text-align: right;
  background-color: rgb(25.0.150):
}

p.myclass {
  text-decoration: underline;
{  
